<footer class="footer" >
  <div class="footer pl-3 d-flex align-items-center" style="height: 4rem;">
    <div class="footer-text">
      <span class="text-white px-2">© 2020 Traversal</span>
      <a href="#">
        <i class="fab fa-github px-1 text-white"></i>
      </a>
      <a href="#">
        <i class="fab fa-facebook px-1 text-white"></i>
      </a>
      <a href="#">
        <i class="fab fa-twitter px-1 text-white"></i>
      </a>
    </div>
  </div>
</footer>
