<link rel="stylesheet" href="../../javascript/plugins/mathquill.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/path/to/mathquill.js"></script>
<script>
var MQ = MathQuill.getInterface(2);
</script>

<a href="./../../../javascript/plugins/mathquill.css">link</a>
