<div class="jumbotron ">
  <h1 class="display-4">Pen-free Math.</h1>
  <p class="lead">No more sending 30 pictures of solutions to your class's Whatapp group.</p>
  <p class="lead">Say bye to drawing on Zoom with your mouse.</p>
  <hr class="my-4">
  <p></p>

  <%= link_to "Let's get started!", equations_path, class:"btn btn-primary btn-lg" %>
</div>
