<div class="jumbotron landing-img mt-5 rounded shadow-lg">

  <h1 class="display-4 text-light">Pen-free Math.</h1>
  <p class="lead text-light">No more sending 30 pictures of solutions to your class's Whatapp group.</p>
  <p class="lead text-light">Say bye to drawing on Zoom with your mouse.</p>
  <hr class="my-4">
  <p></p>

  <%= link_to "Let's get started!", equations_path, class:"btn btn-primary btn-lg" %>
</div>


