<div class="jumbotron ">
  <h1 class="display-4">Pen-free Math.</h1>
  <p class="lead">No more sending 30 pictures of solutions to your class's Whatapp group.</p>
  <p class="lead">Say bye to drawing on Zoom with your mouse.</p>
  <hr class="my-4">
  <p></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Let's get started!</a>
</div>
