
<%= video_tag "landing_page.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "" %>

<div class="jumbotron landing-img mt-5 rounded shadow-lg">

  <h1 class="display-4 text-light">Teachers, pens down.</h1>
  <p class="lead text-light">Formatting math equations for lessons is a huge pain.</p>
  <p class="lead text-light">Traversal makes that as easy as 1,2,3.</p>
  <hr class="my-4">

  <%= link_to "Let's get started!", equations_path, class:"btn btn-primary btn-lg rounded"%>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 bg-transparent border-0">
      <div class="text-center">
        <i class="fas fa-braille fa-5x text-info"></i>
      </div>
      <div class="card-body">
        <p class="card-text text-success">Understand math easier with a mental model that connects the dots</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-transparent border-0">
      <div class="text-center">
        <i class="far fa-keyboard fa-5x text-info"></i>
      </div>
      <div class="card-body">
        <p class="card-text text-success">Use your keyboard to type your equations as you explain. No more untidy annotations on your screen</p>
      </div>
    </div>
  </div>
  <div class="col">
  <div class="card h-100 bg-transparent border-0">
      <div class="text-center">
        <i class="fas fa-share-alt fa-5x text-info"></i>
      </div>
      <div class="card-body">
        <p class="card-text text-success">Easily share your equations with your students and peers through social media</p>
      </div>
    </div>
  </div>
  </div>
</div>
<%= render 'shared/footer' %>
