<div class="container">

  <br>

  <h2>Equation</h2>
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
      <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
    </div>
  <hr>

  <h2>List of equations</h2>
    <ul class="list-group">
    <li class="list-group-item">7 Dec, 2020</li>
    <li class="list-group-item">1 Dec, 2020</li>
    <li class="list-group-item">27 Nov, 2020</li>
    <li class="list-group-item">10 Mar, 2018</li>
    </ul>
  <hr>

  <h2>Buttons</h2>
    <button type="button" class="btn btn-success text-white">New Equation</button>
    <button type="button" class="btn btn-outline-danger">Delete</button>
  <hr>

  <h2>Loading</h2>
    <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    </div>
  <hr>

  <h2>Large textarea</h2>
    <div class="input-group">
        <span class="input-group-text">Formatted equation</span>
      <div class="input-group-prepend">
      </div>
      <textarea class="form-control" aria-label="With textarea">a^2 + b^2 = c^2</textarea>
    </div>
  <hr>

</div>

