<div class="container">

  <br>

  <h2>Equation</h2>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="1 + 2 = 3" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">+</button>
      </div>
    </div>
  <hr>

  <h2>List of equations</h2>
    <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
      7 Dec, 2020 - active btn
    </a>
    <a href="#" class="list-group-item list-group-item-action">7 Dec, 2020</a>
    <a href="#" class="list-group-item list-group-item-action">1 Dec, 2020</a>
    <a href="#" class="list-group-item list-group-item-action">27 Nov, 2020</a>
    <a href="#" class="list-group-item list-group-item-action disabled">10 Mar, 2018 - disabled click</a>
    </div>
  <hr>

  <h2>List of equations alt - more descriptive</h2>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Algebra week 4</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">Subtopics covered: Binomial Theorem</p>
        <small>Last Wed, 10:00am - 11:30am</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small class="text-muted">25 Oct Friday, 2:00pm - 2:30pm</small>
      </a>
</div>
  <hr>

  <h2>Buttons</h2>
    <button type="button" class="btn btn-primary text-white">New Equation</button>
    <button type="button" class="btn btn-outline-danger">Delete</button>
  <hr>

  <h2>Loading</h2>
    <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    </div>
  <hr>

  <h2>Large textarea</h2>
    <div class="input-group">
        <span class="input-group-text">Formatted equation</span>
      <div class="input-group-prepend">
      </div>
      <textarea class="form-control" aria-label="With textarea">a^2 + b^2 = c^2</textarea>
    </div>
  <hr>

</div>

