<!-- <div class="card-header">
      Keyboard Shortcuts
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">^ - Power</li>
      <li class="list-group-item">/ - Fraction</li>
      <li class="list-group-item">\sqrt - Square root</li>
       <li class="list-group-item">/ - Integration</li>
    </ul> -->


<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCheatsheet" aria-expanded="false" aria-controls="collapseCheatsheet">
    Keyboard Shortcuts
  </button>
</p>
<div class="collapse" id="collapseCheatsheet">
   <div class="card card-body">
    Anim pariatur
  </div>
  <!-- <table class="table caption-top">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">Operator</th>
      <th scope="col">Symbol</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
  </tbody>
</table>
 --></div>
