
<p>
  <button class="btn btn-transparent" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="fas fa-plus-circle text-muted"> Keyboard shortcuts </i>
  </button>
</p>
<div class="collapse" id="collapseExample">
  <table class="table caption-top text-muted border">
    <thead>
      <tr>
        <th scope="col" class="font-italic">Key</th>
        <th scope="col" class="font-italic">Operator</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>\times</td>
          <td>
            <div class="step">
              <p>\times</p>
            </div>
          </td>
      </tr>
      <tr>
          <td>\divide</td>
          <td>
            <div class="step">
              <p>\divide</p>
            </div>
          </td>
      </tr>
      <tr>
          <td>x^n</td>
          <td>
            <div class="step">
              <p>x^n</p>
            </div>
          </td>
      </tr>
      <tr>
          <td>x/y</td>
          <td>
            <div class="step">
              <p>\frac xy</p>
            </div>
          </td>
      </tr>
      <tr>
          <td>\sqrt x</td>
          <td>
            <div class="step">
              <p>\sqrt x</p>
            </div>
          </td>
      </tr>
       <tr>
          <td>\le</td>
          <td>
            <div class="step">
              <p>\le</p>
            </div>
          </td>
      </tr>
       <tr>
          <td>\ne</td>
          <td>
            <div class="step">
              <p>\ne</p>
            </div>
          </td>
      </tr>
       <tr>
          <td>\ge</td>
          <td>
            <div class="step">
              <p>\ge</p>
            </div>
          </td>
      </tr>
      <tr>
          <td>\int</td>
          <td>
            <div class="step">
              <p>\int</p>
            </div>
          </td>
      </tr>
      <thead>
      <tr>
        <th scope="col" class="font-italic">Key</th>
        <th scope="col" class="font-italic">Symbol</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>\alpha</td>
          <td>
            <div class="step">
              <p>\alpha</p>
            </div>
          </td>
      </tr>
      <tr>
          <td>\beta</td>
          <td>
            <div class="step">
              <p>\beta</p>
            </div>
          </td>
      </tr>
      <tr>
          <td>\delta</td>
          <td>
            <div class="step">
              <p>\delta</p>
            </div>
          </td>
      </tr>
      <tr>
          <td>\pi</td>
          <td>
            <div class="step">
              <p>\pi</p>
            </div>
          </td>
      </tr>
      <tr>
          <td>\ge</td>
          <td>
            <div class="step">
              <p>\ge</p>
            </div>
          </td>
      </tr>
      </tbody>
    </table>
  </div>

