<div class="btn-secondary rounded text-center" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <p class="cheatsheet-activate text-white"> Key shortcuts <i class="fas fa-caret-down text-white"></i> </p>
</div>

<div class="collapse pt-3"  id="collapseExample">
  <table class="table caption-top text-muted border bg-white"
          data-controller="add-operator">
    <thead>
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Operator</th>
      </tr>
    </thead>
    <tbody>
      <tr class="shortcut-row">
          <td class="key">\times</td>
          <td>
            <div class="step">
              <p>\times</p>
            </div>
          </td>
      </tr>
      <tr class="shortcut-row">
          <td class="key">\divide</td>
          <td>
            <div class="step">
              <p>\divide</p>
            </div>
          </td>
      </tr>
      <tr class="shortcut-row">
          <td class="key">x^n</td>
          <td>
            <div class="step">
              <p>x^n</p>
            </div>
          </td>
      </tr>
      <tr class="shortcut-row">
          <td class="key">x/y</td>
          <td>
            <div class="step">
              <p>\frac xy</p>
            </div>
          </td>
      </tr>
      <tr class="shortcut-row">
          <td class="key">\sqrt x</td>
          <td>
            <div class="step">
              <p>\sqrt x</p>
            </div>
          </td>
      </tr>
       <tr class="shortcut-row">
          <td class="key">\le</td>
          <td>
            <div class="step">
              <p>\le</p>
            </div>
          </td>
      </tr>
       <tr class="shortcut-row">
          <td class="key">\ne</td>
          <td>
            <div class="step">
              <p>\ne</p>
            </div>
          </td>
      </tr>
       <tr class="shortcut-row">
          <td class="key">\ge</td>
          <td>
            <div class="step">
              <p>\ge</p>
            </div>
          </td>
      </tr>
      <tr class="shortcut-row">
          <td class="key">\int</td>
          <td>
            <div class="step">
              <p>\int</p>
            </div>
          </td>
      </tr>
    </tbody>

    <tbody>
      <tr class="shortcut-row">
          <td class="key">\alpha</td>
          <td>
            <div class="step">
              <p>\alpha</p>
            </div>
          </td>
      </tr>
      <tr class="shortcut-row">
          <td class="key">\beta</td>
          <td>
            <div class="step">
              <p>\beta</p>
            </div>
          </td>
      </tr>
      <tr class="shortcut-row">
          <td class="key">\delta</td>
          <td>
            <div class="step">
              <p>\delta</p>
            </div>
          </td>
      </tr>
      <tr class="shortcut-row">
          <td class="key">\pi</td>
          <td>
            <div class="step">
              <p>\pi</p>
            </div>
          </td>
      </tr>

    </tbody>
  </table>
</div>
