<div class="d-flex justify-content-end">

  <div class="share-btn"
  data-url='<%= request.original_url %>'
  data-title="Traversal"
  data-desc="Web Equation"
  >
  <p class="h5 text-muted mr-2">Share</p>
  <div>
    <a class="btn-whatsapp" data-id="wa"><i class="fab fa-whatsapp h4"></i> </a>
    <a class="btn-facebook" data-id="fb"><i class="fab fa-facebook-square h4"></i> </a>
    <a class="btn-twitter" data-id="tw"><i class="fab fa-twitter h4"></i> </a>
    <a class="btn-telegram" data-id="tg"><i class="fab fa-telegram h4"></i> </a>
    <a class="btn-mail" data-id="mail"><i class="fas fa-at h4 text-muted"></i> </a>
  </div>
  </div>
</div>
