<div class="container d-flex">
  <div class="card w-50 shadow-sm">
    <h2>
      Embed your code in Jupyter
    </h2>
    <div class="code-block">
      <p>Your code here</p>
      <code>
        <pre>
          <%=
          "from IPython.display import IFrame

          IFrame(src='https://traversal-app.herokuapp.com/equations/5', width=700, height=600)"
           %>
         </pre>
      </code>
    </div>
  </div>

</div>


