
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



.icons {
  opacity:0;
}

.icons:hover {
  opacity:1;
}

.share-btn > a {
    padding: 5px;
    font-size: 12px;
    font-family: Verdana, Arial;
}
.share-btn > a:hover {
    cursor: pointer;
    text-decoration: none;
}

.btn {
  border-radius: 50px;
}


td.key {
  color: red;
}
