
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



.icons {
  opacity:0;
}

.icons:hover {
  opacity:1;
}

.btn {
  border-radius: 50px;
}

.share-buttons a {
  cursor: pointer;
  text-decoration: none;
  padding-right: 10px;
}


i.fa-whatsapp {
  color: #25D366;

  &:hover {
    color: #17833f;
  }
}

i.fa-facebook-square {
  color: #4267B2;

  &:hover {
    color: #304b82;
  }
}

i.fa-twitter {
  color: #1DA1F2;

  &:hover {
    color: #0b78bb;
  }
}

i.fa-telegram {
  color: #0096D6;

  &:hover {
    color: #006792;
  }
}

i.fa-at {
  color: #7d8082;

  &:hover {
    color: #363738;
  }
}
